{% import 'macros/nav_macros.html' as nav %}
<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/_head.html' %}
        {# Any templates that extend this template can set custom_head_tags to add scripts to their page #}
        {% block custom_head_tags %}{% endblock %}
    </head>
    <body style= "background-color: #F2F6EE">
        <div id="rectangle" style="width: 20%; height: 100%; position: absolute; top: 0%; left: 0%; background-color:#263056;
                                    padding: 1em 0 0 0">
          <div class="column" style="padding: 1em 0 0 1em; position: absolute">
            <h2 style = "font-weight: 400; font-size: 60px; line-height: 80%;
                          letter-spacing: 0.02em; color: #FFFFFF">
              PEC
            </h2>
            <h2 style="font-style: normal; font-weight: 150; font-size: 17px; line-height: 1px;
                          letter-spacing: 0.02em; color: #FFFFFF">
              People's Emergency Center
            </h2>
          </div>
        </div>

        <div id="rectangle" style="width: 80%; height: 8%; position: absolute; right: 0%; top: 0%;
                                    background-color:#FFFFFF; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05)">
            <img src="/static/icons/triangle.png" style="position: absolute; right: 5%">
        </div>

      {# Example dropdown menu setup. Uncomment lines to view
        {% set dropdown = 
          [
            ('account stuff',
              [
                ('account.login', 'login', 'sign in'),
                ('account.logout', 'logout', 'sign out'),
                ('2nd drop', [
                  ('account.login', 'login 2', ''),
                  ('3rd drop', [
                    ('main.index', 'home 2', '')
                  ])
                ])
              ]
            ),
            ('main.index', 'home 1', 'home')
          ]
        %}
      #}

        <!-- {% block nav %}
          {# add dropdown variable here to the render_nav method to render dropdowns #}
          {{ nav.render_nav(current_user) }}
        {% endblock %} -->

        {% include 'partials/_flashes.html' %}
        {# When extended, the content block contains all the html of the webpage #}
        {% block content %}
        {% endblock %}

        {# Implement CSRF protection for site #}
        {% if csrf_token()|safe %}
            <div style="visibility: hidden; display: none">
              <input type="hidden" name="csrf_token" value="{{ csrf_token()|safe }}">
            </div>
        {% endif %}
    </body>
</html>
