{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                View Volunteers
            </h2>
        </div>
    </div>


    <div class="ui stackable centered grid container">

        <div class="twelve wide column">
          <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-volunteers" type="text" placeholder="Search Volunteers…">
                        <i class="search icon"></i>
                    </div>
          </div>
            <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
                 <thead>
                   <tr>
                       <th>Full Name</th>
                       <th>Email</th>
                       <th>Phone Number</th>
                   </tr>
                </thead>
                <tbody>
                   {% for volunteer in volunteers %}
                      <tr onclick="window.location.href = '{{ url_for('staff.view_one', id=volunteer.id) }}';">
                       <td>{{ '%s %s' % (volunteer.first_name, volunteer.last_name) }}</td>
                       <td>{{ volunteer.email }}</td>
                       <td>{{ volunteer.phone_number }}</td></tr>
                   {% endfor %}
               </tbody>
            </table>
        </div>
    </div>
    <script>
      $(document).ready(function () {
        $('#search-volunteers').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
        });
      });
    </script>
{% endblock %}
