{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <a class="ui basic compact button" href="{{ url_for('staff.view_volunteers') }}">
                <i class="caret left icon"></i>
                Back to Volunteers
            </a>
            <h2 class="ui header">
                View Volunteer
            </h2>
            <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
               <tbody>
                   <tr>
                     <td><b>Name</b></td>
                     <td>{{ volunteer.first_name }} {{ volunteer.last_name }}</td>
                   </tr>
                   <tr>
                     <td><b>Email</b></td>
                     <td>{{ volunteer.email }}</td>
                   </tr>
                   <tr>
                     <td><b>Phone Number</b></td>
                     <td>{{ volunteer.phone_number }}</td>
                   </tr>
                   <tr>
                     <td><b>Address</b></td>
                     <td> {{ volunteer.address_street }}, {{ volunteer.address_city }}, {{ volunteer.address_state }}</td>
                   </tr>
                   <tr>
                     <td><b>Organization</b></td>
                     <td>{{ volunteer.organization }}</td>
                   </tr>
               </tbody>
           </table>
        </div>
    </div>
<script>

</script>
{% endblock %}