{% extends 'layouts/base.html' %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                View Volunteers
            </h2>
        </div>
    </div>


    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
                 <thead>
                   <tr>
                       <th>Full Name</th>
                       <th>Email</th>
                       <th>Phone Number</th>
                   </tr>
                </thead>
                <tbody>
                   {% for volunteer in volunteers %}
                       <tr><td>{{ '%s %s' % (volunteer.first_name, volunteer.last_name) }}</td>
                       <td>{{ volunteer.email }}</td>
                       <td>{{ volunteer.phone_number }}</td></tr>
                   {% endfor %}
               </tbody>
            </table>
        </div>
    </div>
{% endblock %}
