{% extends 'layouts/base_no_nav_sidebar.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block content %}

    <div class="ui grid container">
        <div class="eight wide computer sixteen wide mobile centered column"
                style="position: absolute; top: 0%; left: 25%; padding: 0 0 0 0">
            <h2 class="ui dividing header" style="padding-top: 10%">Volunteer Sign Up</h2>
            {{  form.csrf_token }}
            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}

            <div class="two fields">
                {{ f.render_form_field(form.first_name) }}
                {{ f.render_form_field(form.last_name) }}
            </div>
            {{ f.render_form_field(form.email) }}
            {{ f.render_form_field(form.phone_number) }}
            {{ f.render_form_field(form.street) }}
            <div class="three fields">
                {{ f.render_form_field(form.city) }}
                {{ f.render_form_field(form.state) }}
                {{ f.render_form_field(form.zip_code) }}
            </div>
            {{ f.render_form_field(form.organization_corporation) }}
            <div style="font-family: Helvetica; font-size: 1.2em; color: #565656; padding: 0 0 0.5em 0">
            </div>
            {{ f.render_form_field(form.pa_residency) }}

            <div class="two fields">
                {{ f.render_form_field(form.password) }}
                {{ f.render_form_field(form.password2) }}
            </div>

            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}

            {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                {{ f.render_form_field(field) }}
            {% endfor %}

            {{ f.end_form(form) }}
        </div>
    </div>
    {{ check.password_check('password', 0) }}

{% endblock %}
