{% import 'macros/page_macros.html' as page %}
{% extends 'layouts/base_no_nav_sidebar.html' %}

{% block content %}
    <div class="ui text container">
        <h1>About People's Emergency Center</h1>
        {{ page.render_inline_editor(editable_html_obj, current_user) }}
        <p>
            <a href="https://www.pec-cares.org">People’s Emergency Center (PEC)</a> is located in West Philadelphia.
            PEC’s mission is to nurture families, strengthen neighborhoods and drive change.
            For families, children, and youth experiencing homelessness,
            PEC offers more than 235 affordable housing units, job training, parenting and early childhood education,
            financial education and planning, life skills and technology classes.
            PEC seeks to change the life trajectory for the families who seek its services and inspire them to achieve
            housing security and financial stability.
            <br><br><br>
            The PEC Community Development Corporation (<a href="https://www.lancasteravephilly.com">lancasteravephilly.com</a>)
            programs respond to community needs and build on neighborhood assets to help bridge the digital divide,
            expand mixed-income housing opportunities, stimulate economic growth, create wealth,
            and improve the quality of life for all West Philadelphia residents.
        </p>
    </div>

    <script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}
