{% extends 'layouts/base_no_nav_sidebar.html' %}
{% import 'macros/form_macros.html' as f %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}

    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                View Volunteers
            </h2>
        </div>
    </div>

{% set flashes = {
                     'success': get_flashed_messages(category_filter=['form-success'])
                 } %}
    <div class="ui stackable centered grid container">



        <div class="twelve wide column">
          <table>
            <tr>
              <td>
                {{ f.begin_form(download_csv_form, flashes) }}
                {{ f.render_form(download_csv_form) }}
                {{ f.end_form(download_csv_form) }}
              </td>
              <td>
                <!--{{ f.begin_form(upload_csv_form, flashes) }}
                {{ f.render_form(upload_csv_form) }}
                {{ f.end_form(upload_csv_form) }}-->
              <form class="ui form" method="POST" enctype="multipart/form-data">
                <label id="volunteer-file-label" for="volunteer-file" class="ui icon button">
                  <i class="upload icon"></i>
                    Upload File</label>
                  <input type="file" accept=".csv" id="volunteer-file" name="volunteer-file" style="display:none"> <input class="ui submit primary button" type="submit"/>
              </form>
              </td>
            </tr>
          </table>
          
          <br/>
          <br/>
            <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-volunteers" type="text" placeholder="Search Volunteers…">
                        <i class="search icon"></i>
                    </div>
          </div>
            <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
                 <thead>
                   <tr>
                     <th>Name</th>
                    <th>Email</th>
                    <th>PA State Police Check</th>
                    <th>PA Childlink</th>
                    <th>FBI Clearance</th>
                    <th>Conflict of Interest</th>
                    <th>Admin Attention</th>
                    <th>Nearing Expiration</th>
                   </tr>
                </thead>
                <tbody>
                   {% for i in range(volunteers | length) %}
                      <tr onclick="window.location.href = '{{ url_for('admin.view_one', id=volunteers[i].id) }}';">
                           <td>{{ volunteers[i].first_name }} {{ volunteers[i].last_name }}</td>
                           <td>{{ volunteers[i].email }}</td>
                           <td>{{ volunteers[i].status1.value }}</td>
                           <td>{{ volunteers[i].status2.value }}</td>
                           <td>{{ volunteers[i].status3.value }}</td>
                           <td>{{ volunteers[i].status4.value }}</td>
                           <td>
                               {% if volunteers[i].status1.value == "Submitted" or volunteers[i].status1.value == "Pending (state review)" or volunteers[i].status1.value == "Pending (pec review)" or volunteers[i].status1.value == "Expired"
                                  or volunteers[i].status2.value == "Submitted" or volunteers[i].status2.value == "Pending (state review)" or volunteers[i].status2.value == "Pending (pec review)" or volunteers[i].status2.value == "Expired"
                                  or volunteers[i].status3.value == "Submitted" or volunteers[i].status3.value == "Pending (state review)" or volunteers[i].status3.value == "Pending (pec review)" or volunteers[i].status3.value == "Expired"
                                  or volunteers[i].status4.value == "Submitted" or volunteers[i].status4.value == "Pending (state review)" or volunteers[i].status4.value == "Pending (pec review)" or volunteers[i].status4.value == "Expired" %}
                                    Yes
                               {% else %}
                                    No
                               {% endif %}
                           </td>
                           <td>
                            {{ exp_arr[i] }}
                           </td>
                   {% endfor %}
               </tbody>
            </table>
        </div>
    </div>
    <script>
      $(document).ready(function () {
        $('#search-volunteers').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
        });
      });
    </script>
{% endblock %}
