{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}

    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                View Volunteers
            </h2>
        </div>
    </div>

{% set flashes = {
                     'success': get_flashed_messages(category_filter=['form-success'])
                 } %}
    <div class="ui stackable centered grid container">



        <div class="twelve wide column">
          {{ f.begin_form(download_csv_form, flashes) }}
          {{ f.render_form(download_csv_form) }}
          {{ f.end_form(download_csv_form) }}
          <br/>
          <br/>
            <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-volunteers" type="text" placeholder="Search Volunteers…">
                        <i class="search icon"></i>
                    </div>
          </div>
            <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
                 <thead>
                   <tr>
                     <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Status of Clearance 1</th>
                    <th>Status of Clearance 2</th>
                    <th>Status of Clearance 3</th>
                       <th>Status of Clearance 4</th>
                   </tr>
                </thead>
                <tbody>
                   {% for volunteer in volunteers %}
                      <tr onclick="window.location.href = '{{ url_for('admin.view_one', id=volunteer.id) }}';">
                        <td>{{ volunteer.first_name }}</td>
                           <td>{{ volunteer.last_name }}</td>
                           <td>{{ volunteer.email }}</td>
                           <td>{{ volunteer.status1.value }}</td>
                           <td>{{ volunteer.status2.value }}</td>
                           <td>{{ volunteer.status3.value }}</td>
                           <td>{{ volunteer.status4.value }}</td>

                   {% endfor %}
               </tbody>
            </table>
        </div>
    </div>
    <script>
      $(document).ready(function () {
        $('#search-volunteers').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
        });
      });
    </script>
{% endblock %}
