{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}
<div class="ui grid container">
    <div class="twelve wide computer sixteen wide mobile centered column">
    <a class="ui basic compact button" href="{{ url_for('admin.view_clearances') }}">
                <i class="caret left icon"></i>
                Back to review vouchers
            </a>
        <h2 class="ui dividing header">Review Voucher Submission</h2>
          <div class="ui grid container">
              <div class="sixteen wide computer sixteen wide mobile centered column">
                <div class="sixteen wide computer sixteen wide mobile centered column">
                  {% set flashes = {
                     'success': get_flashed_messages(category_filter=['form-success'])
                 } %}
           {{ f.begin_form(form, flashes) }}
             <input type="hidden" name="form-name" value="status_form">
             <table class="ui searchable sortable unstackable selectable celled table" style="overflow-x: scroll;">
                <tbody>
                    <tr>
                      <td><b>Name</b></td>
                      <td>{{ volunteer.first_name }} {{ volunteer.last_name }}</td>
                    </tr>
                    <tr>
                      <td><b>Email</b></td>
                      <td>{{ volunteer.email }}</td>
                    </tr>
                    <tr>
                      <td><b>Phone Number</b></td>
                      <td>{{ volunteer.phone_number }}</td>
                    </tr>
                    <tr>
                      <td><b>Address</b></td>
                      <td>{{ volunteer.address_number }} {{ volunteer.address_street }}, {{ volunteer.address_city }}, {{ volunteer.address_state }}</td>
                    </tr>
                    <tr>
                      <td><b>Organization</b></td>
                      <td>{{ volunteer.organization }}</td>
                    </tr>
                    <tr>
                      <td><b>Clearance 1</b></td>
                      <td>{{ volunteer.link1 }}</td>
                    </tr>
                    <tr>
                      <td><b>Status</b></td>
                      <td>{{ volunteer.status1 }}</td>
                    </tr>
                    <tr>
                      <td><b>Comment</b></td>
                      <td>{{ volunteer.comment1 }}</td>
                    </tr>
                    <tr>
                      <td><b>Clearance 2</b></td>
                      <td>{{ volunteer.link2 }}</td>
                    </tr>
                    <tr>
                      <td><b>Status</b></td>
                      <td>{{ volunteer.status2 }}</td>
                    </tr>
                    <tr>
                      <td><b>Comment</b></td>
                      <td>{{ volunteer.comment2 }}</td>
                    </tr>
                    <tr>
                      <td><b>Clearance 3</b></td>
                      <td>{{ volunteer.link3 }}</td>
                    </tr>
                    <tr>
                      <td><b>Status</b></td>
                      <td>{{ volunteer.status3 }}</td>
                    </tr>
                    <tr>
                      <td><b>Comment</b></td>
                      <td>{{ volunteer.link3 }}</td>
                    </tr>
                </tbody>
            </table>
           {% if volunteer.status1 == "Status.SUBMITTED" or "Status.PENDING_PEC_REVIEW" or "Status.PENDING_STATE_REVIEW" %}
            {{ f.begin_form(form, flashes) }}
           {{ f.render_form(form) }}
            {{ f.end_form(form) }}
            {% endif %}



              </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
