{% extends 'layouts/base_no_nav_sidebar.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/file_upload.html' as upload %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
<a class="column" href="{{ url_for(endpoint) }}">
    <div class="ui padded segment">
        <h3 class="ui header">
            {% if icon is not none %}
            <i class="{{ icon }}"></i>
            {% endif %}
            <div class="content">
                {{ title }}
                {% if description is not none %}
                <div class="sub header">
                    {{ description }}
                </div>
                {% endif %}
            </div>
        </h3>
    </div>
</a>
{% endmacro %}

{% block content %}

<div class="ui four column grid container" style="position: relative; width: 10%; height: 80%; top: 15%; left: 7%; padding: 1em 1em 1em 1em">
        {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'success': get_flashed_messages(category_filter=['form-success'])
        } %}
        <div class="row" style="color: #36454F; font-weight: bold; font-size: 170%">
            Clearances
        </div>

        <div class="column">
          <div id="rectangle-card">
                <h3>PA State Police Check</h3>
                <hr>
                <p id="clearance-description">
                    This is for child abuse history clearance: <a href="https://www.keepkidssafe.pa.gov">keepkidssafe.pa.gov</a>.
                    Turnaround is faster for email than mail.
                </p>
                <hr>
                <div id="clearance-body">
                    {{ f.begin_form(form1, flashes) }}
                    Status: 
                    {% if volunteer.status1 == "Cleared" %}
                        <p style="color: #00DF52;">
                            {{ volunteer.status1 }}
                        </p>
                    {% elif volunteer.status1 == "Pending PEC Review" %}
                        <p style="color: #FFBD22;">
                            {{ volunteer.status1 }}
                        </p>
                    {% elif volunteer.status1 == "Declined" %}
                        <p style="color: #BF1E1E;">
                            {{ volunteer.status1 }}
                        </p>
                    {% else %}
                        <p style="color: #646B72">
                            {{ volunteer.status1 }}
                        </p>
                    {% endif %}
                    Uploaded file: <a href = "{{ volunteer.link1 }}">click here</a>
                    <br>
                    {{ f.render_form_input(form1.form1_file_urls) }}
                    {{ upload.file_upload('form1_file_urls') }}
                    Comment:
                    <br style="color: #C6C6C6">
                        {{ volunteer.comment1 }}
                    </br>
                    <br>
                    {{ f.render_form_field(form1.submit) }}
                    {{ f.end_form(form1) }}
                </div>
           </div>
        </div>


        <div class="column">
          <div id="rectangle-card">
                <h3>PA Childlink</h3>
                <hr>
                <p id="clearance-description">
                    This is for criminal record check. Go To: <a href = "https://www.epatch.state.pa.us">
                    epatch.state.pa.us/</a>. Print your result from the computer.
                    <br>
                    <br>
                </p>
                <hr>
                <div id="clearance-body">
                    {{ f.begin_form(form2, flashes) }}
                    Status:
                    {% if volunteer.status2 == "Cleared" %}
                        <p style="color: #00DF52;">
                            {{ volunteer.status2 }}
                        </p>
                    {% elif volunteer.status2 == "Pending PEC Review" %}
                        <p style="color: #FFBD22;">
                            {{ volunteer.status2 }}
                        </p>
                    {% elif volunteer.status2 == "Declined" %}
                        <p style="color: #BF1E1E;">
                            {{ volunteer.status2 }}
                        </p>
                    {% else %}
                        <p style="color: #646B72">
                            {{ volunteer.status2 }}
                        </p>
                    {% endif %}
                    Uploaded file: <a href = "{{ volunteer.link2 }}">click here</a>
                    <br>
                    {{ f.render_form_input(form2.form2_file_urls) }}
                    {{ upload.file_upload('form2_file_urls') }}
                    Comment:
                    <br style="color: #C6C6C6">
                        {{ volunteer.comment2 }}
                    </br>
                    <br>
                    {{ f.render_form_field(form2.submit) }}
                    {{ f.end_form(form2) }}
                </div>
            </div>
        </div>

        {% if volunteer.year_pa == "No" %}
        <div class="column">
          <div id="rectangle-card">
                <h3>FBI Clearance </h3>
                <hr>
                <p id="clearance-description">
                    FBI Background Check if volunteer has lived in PA for less than the last 10 consecutive years.
                </p>
                <hr>
                <div id="clearance-body">
                    {{ f.begin_form(form3, flashes) }}
                    Status:
                    {% if volunteer.status3 == "Cleared" %}
                        <p style="color: #00DF52;">
                            {{ volunteer.status3 }}
                        </p>
                    {% elif volunteer.status3 == "Pending PEC Review" %}
                        <p style="color: #FFBD22;">
                            {{ volunteer.status3 }}
                        </p>
                    {% elif volunteer.status3 == "Declined" %}
                        <p style="color: #BF1E1E;">
                            {{ volunteer.status3 }}
                        </p>
                    {% else %}
                        <p style="color: #646B72">
                            {{ volunteer.status3 }}
                        </p>
                    {% endif %}
                    Uploaded file: <a href = "{{ volunteer.link3 }}">click here</a>
                    <br>
                    {{ f.render_form_input(form3.form3_file_urls) }}
                    {{ upload.file_upload('form3_file_urls') }}
                    Comment:
                    <br style="color: #C6C6C6">
                        {{ volunteer.comment3 }}
                    </br>
                    <br>
                    {{ f.render_form_field(form3.submit) }}
                    {{ f.end_form(form3) }}
            </div>
          </div>
        </div>
        {% endif %}

        <div class="column">
          <div id="rectangle-card">
                <h3>Conflict of Interest Form</h3>
                <hr>
                <p id="clearance-description">
                    Volunteer conflict of interest form.
                    <br>
                    <br>
                    <br>
                </p>
                <hr>
                <div id="clearance-body">
                    {{ f.begin_form(form4, flashes) }}
                    Status: 
                    {% if volunteer.status4 == "Cleared" %}
                        <p style="color: #00DF52;">
                            {{ volunteer.status4 }}
                        </p>
                    {% elif volunteer.status4 == "Pending PEC Review" %}
                        <p style="color: #FFBD22;">
                            {{ volunteer.status4 }}
                        </p>
                    {% elif volunteer.status4 == "Declined" %}
                        <p style="color: #BF1E1E;">
                            {{ volunteer.status4 }}
                        </p>
                    {% else %}
                        <p style="color: #646B72">
                            {{ volunteer.status4 }}
                        </p>
                    {% endif %}
                    Uploaded file: <a href = "{{ volunteer.link4 }}">click here</a>
                    <br>
                    {{ f.render_form_input(form4.form4_file_urls) }}
                    {{ upload.file_upload('form4_file_urls') }}
                    Comment:
                    <br style="color: #646B72">
                        {{ volunteer.comment4 }}
                    </br>
                    <br>
                    {{ f.render_form_field(form4.submit) }}
                    {{ f.end_form(form4) }}
            </div>
          </div>
        </div>
      </div>


{% endblock %}