{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/file_upload.html' as upload %}

{% macro dashboard_option(title, endpoint, description=None, icon=None) %}
    <a class="column" href="{{ url_for(endpoint) }}">
        <div class="ui padded segment">
            <h3 class="ui header">
                {% if icon is not none %}
                    <i class="{{ icon }}"></i>
                {% endif %}
                <div class="content">
                    {{ title }}
                    {% if description is not none %}
                        <div class="sub header">
                            {{ description }}
                        </div>
                    {% endif %}
                </div>
            </h3>
        </div>
    </a>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Upload Clearances
            </h2>
            <p>
                Pennsylvania law requires volunteers at People’s Emergency Center (PEC)
                to have up to (3) child clearances, depending on residency. PEC requires
                clearances must be completed before volunteer’s start date at PEC, and
                be no more than 30 days old.
                Questions about the law can be directed to the State of PA by
                calling 1-888-783-7972.
                Trish Downey (tdowney@pec-cares.org or 267-777-5811) must receive the
                results before volunteer can begin.
            </p>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}

                <!--                Clearance 1-->
                <h3 class="ui header">
                    Clearance 1
                </h3>
                <p>
                    This is for child abuse history clearance: keepkidssafe.pa.gov.
                    Turnaround is faster for email than mail.</br>
                    </br>
                    <b>Status</b>: {{ volunteer.status1 }}
                </p>
                <b>Link: </b>{{ volunteer.link1_display }}
                {{ f.render_form_field(form.link1_upload) }}
                {{ f.render_form_input(form.link1_upload) }}
                {{ upload.file_upload('file_urls') }}
                <b>Comment: </b>{{ volunteer.comment1 }}
                {{ f.render_form_field(form.submit1) }}


                <!--                Clearance 2-->
                <h3 class="ui header">
                    Clearance 2
                </h3>
                <p>
                    This is for criminal record check. Go To: https://epatch.state.pa.us/.
                    Print your result from the computer. </br>
                    </br>
                    <b>Status</b>: {{ volunteer.status2 }}
                </p>
                <b>Link: </b>{{ volunteer.link2 }}
                {{ f.render_form_field(form.link2) }}
                <b>Comment: </b>{{ volunteer.comment2 }}
                {{ f.render_form_field(form.submit2) }}


                <!--                Clearance 3-->
                <h3 class="ui header">
                    Clearance 3
                </h3>
                <p>
                    FBI Background Check if volunteer has lived in PA for less than the last 10 consecutive years.</br>
                    1. Go to: https://www.identogo.com/.</br>
                    2. Click on “Get Fingerprinted.”</br>
                    3. Select “Pennsylvania.”</br>
                    4. Select “Digital Fingerprinting.”</br>
                    5. Enter Service Code “1KG6ZJ.”</br>
                    6. Select “Schedule or Manage Appointment.”</br>
                    7. Fill out the form</br>
                    8. Choose the Identogo site you would like to go to.</br>
                    9. Select date and time or check “Walk In.”</br>
                    10. Click “Done.”</br>
                    11. Go to the Identogo site. Be sure to bring proper documentation (specified on website).</br>
                    </br>
                    <b>Status</b>: {{ volunteer.status3 }}
                </p>
                <b>Link: </b>{{ volunteer.link3 }}
                {{ f.render_form_field(form.link3) }}
                <b>Comment: </b>{{ volunteer.comment3 }}
                {{ f.render_form_field(form.submit3) }}

                <!--                Clearance 4-->
                <h3 class="ui header">
                    Clearance 4
                </h3>
                <p>
                    Conflict of interest form.</br>
                    </br>
                    <b>Status</b>: {{ volunteer.status4 }}
                </p>
                <b>Link: </b>{{ volunteer.link4 }}
                {{ f.render_form_field(form.link4) }}
                <b>Comment: </b>{{ volunteer.comment4 }}
                {{ f.render_form_field(form.submit4) }}

            {{ f.end_form(form) }}

        </div>




    </div>
{% endblock %}